[submodule "RPi/LDD/linux_vfd"]
	path = RPi/LDD/linux_vfd
	url = https://github.com/anpaza/linux_vfd.git
[submodule "RPi/LDD/rfrpi"]
	path = RPi/LDD/rfrpi
	url = https://bitbucket.org/disk_91-admin/rfrpi.git
[submodule "RPi/LDD/rpi-gpio-driver"]
	path = RPi/LDD/rpi-gpio-driver
	url = https://github.com/Soarez/rpi-gpio-driver.git
[submodule "RPi/LDD/rpi-kmod-samples"]
	path = RPi/LDD/rpi-kmod-samples
	url = https://github.com/wendlers/rpi-kmod-samples.git
[submodule "x86/LDD/exercises"]
	path = x86/LDD/exercises
	url = https://github.com/leberus/exercises.git
[submodule "RPi/LPD/PiBits"]
	path = RPi/LPD/PiBits
	url = https://github.com/richardghirst/PiBits.git
[submodule "RPi/LPD/OpenPLC"]
	path = RPi/LPD/OpenPLC
	url = https://github.com/thiagoralves/OpenPLC.git
[submodule "RPi/LPD/OpenEnergy/emonpi"]
	path = RPi/LPD/OpenEnergy/emonpi
	url = https://github.com/openenergymonitor/emonpi.git
[submodule "x86/LPD/SocketCAN"]
	path = x86/LPD/SocketCAN
	url = https://github.com/mguentner/cannelloni.git
[submodule "x86/LPD/SocketTCP"]
	path = x86/LPD/SocketTCP
	url = https://github.com/vichargrave/tcpsockets.git
[submodule "RPi/LDD/linux-cc2520-driver"]
	path = RPi/LDD/linux-cc2520-driver
	url = https://github.com/anroOfCode/linux-cc2520-driver.git
[submodule "RPi/LPD/ST7735R-LCD"]
	path = RPi/LPD/ST7735R-LCD
	url = https://github.com/vinodstanur/raspberry-pi-frame-buffer-mapping-to-160x128-ST7735R-LCD.git
[submodule "x86/LMT/IPC-examples"]
	path = x86/LMT/IPC-examples
	url = https://github.com/lettergram/IPC-examples.git
[submodule "x86/LPD/Supervisor"]
	path = x86/LPD/Supervisor
	url = https://github.com/Supervisor/supervisor.git
[submodule "RPi/LPD/RPi-Monitor"]
	path = RPi/LPD/RPi-Monitor
	url = https://github.com/XavierBerger/RPi-Monitor.git
[submodule "x86/LMT/TCP-IP-Network-basic-examples"]
	path = x86/LMT/TCP-IP-Network-basic-examples
	url = https://github.com/linfan/TCP-IP-Network-basic-examples.git
[submodule "BBxM/exploringBB"]
	path = BBxM/exploringBB
	url = https://github.com/derekmolloy/exploringBB.git
[submodule "Common/Books/Mastering-Embedded-Linux-Programming-Second-Edition"]
	path = Common/Books/Mastering-Embedded-Linux-Programming
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Second-Edition.git
[submodule "Common/Books/Linux-Device-Drivers-Development"]
	path = Common/Books/Linux-Device-Drivers-Development
	url = https://github.com/PacktPublishing/Linux-Device-Drivers-Development.git
[submodule "Common/Books/Embedded-Linux-for-Developers"]
	path = Common/Books/Embedded-Linux-for-Developers
	url = https://github.com/PacktPublishing/Embedded-Linux-for-Developers.git
[submodule "RPi/exploringRPi"]
	path = RPi/exploringRPi
	url = https://github.com/derekmolloy/exploringrpi.git
[submodule "Common/Training/kernel-development"]
	path = Common/Training/kernel-development
	url = https://github.com/gregkh/kernel-development.git
[submodule "Common/Books/Linux-Insides"]
	path = Common/Books/Linux-Insides
	url = https://github.com/0xAX/linux-insides.git
[submodule "RPi/LDD/Panalyzer"]
	path = RPi/LDD/Panalyzer
	url = https://github.com/richardghirst/Panalyzer.git
[submodule "RPi/LDD/PiBits"]
	path = RPi/LDD/PiBits
	url = https://github.com/richardghirst/PiBits.git
[submodule "Common/Training/linux-development"]
	path = Common/Training/linux-development
	url = https://github.com/dev-area/linux.git
[submodule "Common/Examples/xbee-driver"]
	path = Common/Examples/xbee-driver
	url = https://github.com/robbles/xbee-driver.git
[submodule "Common/Examples/dht22-sensor-driver"]
	path = Common/Examples/dht22-sensor-driver
	url = https://github.com/Filkolev/DHT22-sensor-driver.git
[submodule "Common/Examples/mcp9808-driver"]
	path = Common/Examples/mcp9808-driver
	url = https://github.com/savoca/mcp9808.git
[submodule "Common/Examples/knetstat"]
	path = Common/Examples/knetstat
	url = https://github.com/veithen/knetstat.git
[submodule "Common/Examples/tpe-lkm"]
	path = Common/Examples/tpe-lkm
	url = https://github.com/cormander/tpe-lkm.git
[submodule "Common/Examples/forge_socket"]
	path = Common/Examples/forge_socket
	url = https://github.com/ewust/forge_socket.git
[submodule "Common/Examples/netcat-cpi-kernel-module"]
	path = Common/Examples/netcat-cpi-kernel-module
	url = https://github.com/usrbinnc/netcat-cpi-kernel-module.git
[submodule "Common/Examples/gpio-heartbeat"]
	path = Common/Examples/gpio-heartbeat
	url = https://github.com/longsleep/gpio-heartbeat.git
[submodule "Common/Examples/simple-linux-kernel-tcp-client-server"]
	path = Common/Examples/simple-linux-kernel-tcp-client-server
	url = https://github.com/abysamross/simple-linux-kernel-tcp-client-server.git
[submodule "Common/Examples/rfm12b-linux"]
	path = Common/Examples/rfm12b-linux
	url = https://github.com/gkaindl/rfm12b-linux.git
[submodule "Common/Examples/buzzer"]
	path = Common/Examples/buzzer
	url = https://github.com/teknoraver/buzzer.git
[submodule "Common/Examples/fbtft"]
	path = Common/Examples/fbtft
	url = https://github.com/notro/fbtft.git
[submodule "Common/Examples/Linux-Device-Driver-for-Character-LCD-Kernel-Level"]
	path = Common/Examples/linux-device-driver-for-character-lcd-Kernel-level/
	url = https://github.com/hsm5xw/Linux-Device-Driver-for-Character-LCD-Kernel-Level.git
[submodule "Common/Examples/pthreads-examples-c"]
	path = Common/Examples/pthreads-examples-c
	url = https://github.com/zappala/pthreads-examples-c.git
[submodule "Common/Examples/socket-programming-examples-c"]
	path = Common/Examples/socket-programming-examples-c
	url = https://github.com/zappala/socket-programming-examples-c.git
[submodule "Common/Examples/c-example"]
	path = Common/Examples/c-example
	url = https://github.com/millken/c-example.git
[submodule "Common/Examples/epoll-example-c"]
	path = Common/Examples/epoll-example-c
	url = https://github.com/RajivKurian/epoll-example.git
[submodule "Common/Examples/multiplexing-io"]
	path = Common/Examples/multiplexing-io
	url = https://github.com/dev-area/Multiplexing-IO.git
[submodule "Ev3Dev/lego-linux-drivers"]
	path = Ev3Dev/lego-linux-drivers
	url = https://github.com/ev3dev/lego-linux-drivers.git
[submodule "Common/Examples/pixel_keyboard_backlight_driver"]
	path = Common/Examples/pixel_keyboard_backlight_driver
	url = https://github.com/xhcnb/pixel_keyboard_backlight_driver.git
[submodule "Common/Examples/embedded-sgp"]
	path = Common/Examples/embedded-sgp
	url = https://github.com/Sensirion/embedded-sgp.git
[submodule "Common/Examples/embedded-sht"]
	path = Common/Examples/embedded-sht
	url = https://github.com/Sensirion/embedded-sht.git
[submodule "Common/Examples/sfxx"]
	path = Common/Examples/sfxx
	url = https://github.com/Sensirion/sfxx.git
[submodule "Common/Examples/epics-f3rp61"]
	path = Common/Examples/epics-f3rp61
	url = https://github.com/EPICS-F3RP61/epics-f3rp61.git
[submodule "Common/Examples/nxprdlib-kernel-bus-abstraction-layer"]
	path = Common/Examples/nxprdlib-kernel-bus-abstraction-layer
	url = https://github.com/christianeisendle/nxprdlib-kernel-bal.git
[submodule "Common/Examples/nxp-pn5xx"]
	path = Common/Examples/nxp-pn5xx
	url = https://github.com/NXPNFCLinux/nxp-pn5xx.git
[submodule "Common/Examples/pwm-servo"]
	path = Common/Examples/pwm-servo
	url = https://github.com/maciejjo/pwm-servo.git
[submodule "Common/Examples/tb6612"]
	path = Common/Examples/tb6612
	url = https://github.com/maciejjo/tb6612.git
[submodule "Common/Examples/iio-drivers"]
	path = Common/Examples/iio-drivers
	url = https://github.com/cthil/iio-drivers.git
[submodule "Common/Examples/tsl2561"]
	path = Common/Examples/tsl2561
	url = https://github.com/lexruee/tsl2561.git
[submodule "Common/Examples/am2315"]
	path = Common/Examples/am2315
	url = https://github.com/lexruee/am2315.git
[submodule "Common/Examples/mpl115a2"]
	path = Common/Examples/mpl115a2
	url = https://github.com/lexruee/mpl115a2.git
[submodule "Common/Examples/mcp9808"]
	path = Common/Examples/mcp9808
	url = https://github.com/lexruee/mcp9808.git
[submodule "Common/Examples/bmp180"]
	path = Common/Examples/bmp180
	url = https://github.com/lexruee/bmp180.git
[submodule "Common/Examples/kservo"]
	path = Common/Examples/kservo
	url = https://github.com/claudyus/kservo.git
[submodule "BBxM/LDD/SPI-Device-Driver"]
	path = BBxM/LDD/SPI-Device-Driver
	url = https://github.com/sidroopdaska/SPI-Device-Driver.git
[submodule "BBxM/LDD/BB-GPS-LinuxDriver"]
	path = BBxM/LDD/BB-GPS-LinuxDriver
	url = https://github.com/MarcosCM/BB-GPS-LinuxDriver.git
[submodule "BBxM/LDD/BB-GPS-lib"]
	path = BBxM/LDD/BB-GPS-lib
	url = https://github.com/MarcosCM/BB-GPS-lib.git
[submodule "Common/Examples/daxc02"]
	path = Common/Examples/daxc02
	url = https://github.com/DaxBot/daxc02.git
[submodule "Common/Examples/daxc03"]
	path = Common/Examples/daxc03
	url = https://github.com/DaxBot/daxc03.git
[submodule "Common/Examples/eltt2"]
	path = Common/Examples/eltt2
	url = https://github.com/Infineon/eltt2.git
[submodule "Common/Examples/mcp2210-linux"]
	path = Common/Examples/mcp2210-linux
	url = https://github.com/daniel-santos/mcp2210-linux.git
[submodule "Common/Examples/spi-ch341-usb"]
	path = Common/Examples/spi-ch341-usb
	url = https://github.com/gschorcht/spi-ch341-usb.git
[submodule "Common/Examples/cp2130"]
	path = Common/Examples/cp2130
	url = https://github.com/Henneberg-Systemdesign/cp2130.git
[submodule "Common/Examples/i2c-ch341-usb"]
	path = Common/Examples/i2c-ch341-usb
	url = https://github.com/allanbian1017/i2c-ch341-usb.git
[submodule "Parallella/BSP/epiphany-bsp"]
	path = Parallella/BSP/epiphany-bsp
	url = https://github.com/coduin/epiphany-bsp.git
[submodule "Parallella/BSP/epiphany-bsp-cpp-example"]
	path = Parallella/BSP/epiphany-bsp-cpp-example
	url = https://github.com/coduin/epiphany-bsp-cpp-example
[submodule "Next4000/netx4000-linux-bsp"]
	path = Next4000/netx4000-linux-bsp
	url = https://github.com/Hilscher/netx4000-linux-bsp.git
[submodule "Common/Examples/intel-camera-drivers"]
	path = Common/Examples/intel-camera-drivers
	url = https://github.com/01org/intel-camera-drivers.git
[submodule "Common/Examples/intel-hybrid-driver"]
	path = Common/Examples/intel-hybrid-driver
	url = https://github.com/01org/intel-hybrid-driver.git
[submodule "Common/Examples/ipvr-vaapi-driver"]
	path = Common/Examples/ipvr-vaapi-driver
	url = https://github.com/01org/ipvr-vaapi-driver.git
[submodule "Common/Examples/LMS7002M-driver"]
	path = Common/Examples/LMS7002M-driver
	url = https://github.com/myriadrf/LMS7002M-driver.git
[submodule "Common/Examples/gsmmux"]
	path = Common/Examples/gsmmux
	url = https://github.com/ya-jeks/gsmmux.git
[submodule "Common/Examples/uwb_uwb2can"]
	path = Common/Examples/uwb_uwb2can
	url = https://github.com/yuq/uwb_uwb2can.git
[submodule "LFS"]
	path = LFS
	url = https://github.com/FXRer/LinuxFromScratch.git
[submodule "Common/Examples/lcd-drivers"]
	path = Common/Examples/lcd-drivers
	url = https://github.com/sirinsoftware/lcd-drivers.git
[submodule "Common/Examples/ctp"]
	path = Common/Examples/ctp
	url = https://github.com/pavius/ctp.git
[submodule "Common/Libraries/IPC/nanomsg"]
	path = Common/Libraries/IPC/nanomsg
	url = https://github.com/nanomsg/nanomsg.git
[submodule "Common/Libraries/IPC/nng"]
	path = Common/Libraries/IPC/nng
	url = https://github.com/nanomsg/nng.git
[submodule "Common/Libraries/IPC/celery"]
	path = Common/Libraries/IPC/celery
	url = https://github.com/celery/celery.git
[submodule "Common/Libraries/IPC/CppRemote"]
	path = Common/Libraries/IPC/CppRemote
	url = https://github.com/kwanti/CppRemote.git
[submodule "Common/Libraries/IPC/echolib"]
	path = Common/Libraries/IPC/echolib
	url = https://github.com/vicoslab/echolib.git
[submodule "Common/Libraries/IPC/linux-ipc-wrappers"]
	path = Common/Libraries/IPC/linux-ipc-wrappers
	url = https://github.com/dinkelk/linux-ipc-wrappers.git
[submodule "Common/Libraries/IPC/MQ"]
	path = Common/Libraries/IPC/MessageQueue/MQ
	url = https://github.com/tiepologian/MQ.git
[submodule "Common/Libraries/IPC/rabbitmq-cpp-tutorials"]
	path = Common/Libraries/IPC/MessageQueue/rabbitmq-cpp-tutorials
	url = https://github.com/RPG-18/rabbitmq-cpp-tutorials.git
[submodule "Common/Libraries/IPC/ach"]
	path = Common/Libraries/IPC/ach
	url = https://github.com/golems/ach.git
[submodule "Common/Libraries/D-BUS/sdbus-cpp"]
	path = Common/Libraries/IPC/DBus/sdbus-cpp
	url = https://github.com/Kistler-Group/sdbus-cpp.git
[submodule "Common/Libraries/D-BUS/dbus-broker"]
	path = Common/Libraries/IPC/DBus/dbus-broker
	url = https://github.com/bus1/dbus-broker.git
[submodule "Common/Libraries/D-BUS/simppl"]
	path = Common/Libraries/IPC/DBus/simppl
	url = https://github.com/martinhaefner/simppl.git
[submodule "Common/Libraries/IPC/MessageQueue/cppzmq"]
	path = Common/Libraries/IPC/MessageQueue/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "Common/Libraries/IPC/MessageQueue/zmqpp"]
	path = Common/Libraries/IPC/MessageQueue/zmqpp
	url = https://github.com/zeromq/zmqpp.git
[submodule "Common/Examples/samples-dbus"]
	path = Common/Examples/samples-dbus
	url = https://github.com/fbuihuu/samples-dbus.git
[submodule "Common/Examples/dbus-example"]
	path = Common/Examples/dbus-example
	url = https://github.com/linneman/dbus-example.git
[submodule "Common/Examples/DBus"]
	path = Common/Examples/DBus
	url = https://github.com/dooteo/DBus.git
[submodule "Common/Libraries/IPC/Netlink/netlink-msgpack"]
	path = Common/Libraries/IPC/Netlink/netlink-msgpack
	url = https://github.com/Lichtso/netLink.git
[submodule "Common/Libraries/IPC/Netlink/netlink-sockets"]
	path = Common/Libraries/IPC/Netlink/netlink-sockets
	url = https://github.com/riqpe/netlink-sockets.git
