[submodule "RPi/LDD/linux_vfd"]
	path = RPi/LDD/linux_vfd
	url = https://github.com/anpaza/linux_vfd.git
[submodule "RPi/LDD/rfrpi"]
	path = RPi/LDD/rfrpi
	url = https://bitbucket.org/disk_91-admin/rfrpi.git
[submodule "RPi/LDD/rpi-gpio-driver"]
	path = RPi/LDD/rpi-gpio-driver
	url = https://github.com/Soarez/rpi-gpio-driver.git
[submodule "RPi/LDD/rpi-kmod-samples"]
	path = RPi/LDD/rpi-kmod-samples
	url = https://github.com/wendlers/rpi-kmod-samples.git
[submodule "x86/LDD/exercises"]
	path = x86/LDD/exercises
	url = https://github.com/leberus/exercises.git
[submodule "RPi/LPD/PiBits"]
	path = RPi/LPD/PiBits
	url = https://github.com/richardghirst/PiBits.git
[submodule "RPi/LPD/OpenPLC"]
	path = RPi/LPD/OpenPLC
	url = https://github.com/thiagoralves/OpenPLC.git
[submodule "RPi/LPD/OpenEnergy/emonpi"]
	path = RPi/LPD/OpenEnergy/emonpi
	url = https://github.com/openenergymonitor/emonpi.git
[submodule "x86/LPD/SocketCAN"]
	path = x86/LPD/SocketCAN
	url = https://github.com/mguentner/cannelloni.git
[submodule "x86/LPD/SocketTCP"]
	path = x86/LPD/SocketTCP
	url = https://github.com/vichargrave/tcpsockets.git
[submodule "RPi/LDD/linux-cc2520-driver"]
	path = RPi/LDD/linux-cc2520-driver
	url = https://github.com/anroOfCode/linux-cc2520-driver.git
[submodule "RPi/LPD/ST7735R-LCD"]
	path = RPi/LPD/ST7735R-LCD
	url = https://github.com/vinodstanur/raspberry-pi-frame-buffer-mapping-to-160x128-ST7735R-LCD.git
[submodule "x86/LMT/IPC-examples"]
	path = x86/LMT/IPC-examples
	url = https://github.com/lettergram/IPC-examples.git
[submodule "x86/LPD/Supervisor"]
	path = x86/LPD/Supervisor
	url = https://github.com/Supervisor/supervisor.git
[submodule "RPi/LPD/RPi-Monitor"]
	path = RPi/LPD/RPi-Monitor
	url = https://github.com/XavierBerger/RPi-Monitor.git
[submodule "x86/LMT/TCP-IP-Network-basic-examples"]
	path = x86/LMT/TCP-IP-Network-basic-examples
	url = https://github.com/linfan/TCP-IP-Network-basic-examples.git
[submodule "BBxM/exploringBB"]
	path = BBxM/exploringBB
	url = https://github.com/derekmolloy/exploringBB.git
[submodule "Common/Books/Mastering-Embedded-Linux-Programming-Second-Edition"]
	path = Common/Books/Mastering-Embedded-Linux-Programming
	url = https://github.com/PacktPublishing/Mastering-Embedded-Linux-Programming-Second-Edition.git
[submodule "Common/Books/Linux-Device-Drivers-Development"]
	path = Common/Books/Linux-Device-Drivers-Development
	url = https://github.com/PacktPublishing/Linux-Device-Drivers-Development.git
[submodule "Common/Books/Embedded-Linux-for-Developers"]
	path = Common/Books/Embedded-Linux-for-Developers
	url = https://github.com/PacktPublishing/Embedded-Linux-for-Developers.git
[submodule "RPi/exploringRPi"]
	path = RPi/exploringRPi
	url = https://github.com/derekmolloy/exploringrpi.git
